@keyframes rotate-box-1 {
  0% {
    left: -70%; }
  100% {
    left: -70%;
    transform: translateX(35%) rotate(45deg); } }

@keyframes rotate-box-3 {
  0% {
    right: -70%; }
  100% {
    right: -70%;
    transform: translateX(-35%) rotate(45deg); } }

@keyframes rotate-box-2 {
  0% {
    left: -60%; }
  100% {
    left: -60%;
    transform: translateX(45%) rotate(-200deg); } }

@keyframes rotate-box-4 {
  0% {
    right: -60%; }
  100% {
    right: -60%;
    transform: translateX(-45%) rotate(-200deg); } }

@keyframes rotate-box-5 {
  0% {
    left: -60%; }
  100% {
    left: -60%;
    transform: translateX(45%) rotate(320deg); } }

@keyframes rotate-box-6 {
  0% {
    right: -60%; }
  100% {
    right: -60%;
    transform: translateX(-45%) rotate(320deg); } }

@keyframes text-animate {
  0% {
    left: 0%;
    opacity: 0; }
  50% {
    left: 55%; }
  100% {
    opacity: 1;
    left: 48%; } }

@keyframes sub-text {
  0% {
    right: 0%;
    opacity: 0; }
  50% {
    right: 5%; }
  100% {
    right: 0%;
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  line-height: 1;
  letter-spacing: 1px;
  overflow-x: hidden; }

body {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7; }

.hero__container {
  position: relative; }

.hero__text {
  font-family: "Beau Rivage", cursive;
  color: #ffd89b;
  display: inline-block;
  text-align: center;
  position: absolute;
  font-size: 2.7rem;
  width: 100%;
  letter-spacing: 3px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  opacity: 0;
  animation: text-animate 3s ease 1s;
  animation-fill-mode: forwards; }
  @media only screen and (min-width: 750px) and (max-width: 4000px) {
    .hero__text {
      font-size: 4rem; } }

.hero__text-sub {
  font-family: "Beau Rivage", cursive;
  color: #ffd89b;
  display: inline-block;
  text-align: center;
  position: absolute;
  z-index: 5;
  opacity: 0;
  animation: sub-text 3s ease 1s;
  animation-fill-mode: forwards;
  letter-spacing: 2px;
  font-size: 1.6rem;
  width: 80%;
  top: 55%;
  right: 0%; }
  @media only screen and (min-width: 750px) and (max-width: 4000px) {
    .hero__text-sub {
      font-size: 2rem;
      top: 58%; } }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffd89b;
  background: linear-gradient(to right, #19547b, #ffd89b);
  height: 8rem;
  padding: 0 4.8rem; }
  .header__logo {
    font-size: 2.5rem;
    color: #ffd89b; }

.main-nav__list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 5rem; }

.main-nav__link {
  padding: 1rem; }

.main-nav__link:link, .main-nav__link:visited {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s; }

.main-nav__link:hover, .main-nav__link:active {
  background-color: #19547b;
  border-radius: 5px;
  padding: 1rem;
  color: #fff; }

.main-nav__link.nav-cta:link, .main-nav__link.nav-cta:visited {
  background-color: #7598af;
  padding: 1.2rem 2.4rem;
  border-radius: 5px;
  color: #fff; }

.main-nav__link.nav-cta:hover, .main-nav__link.nav-cta:active {
  background-color: #19547b; }

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none; }

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #19547b; }

.icon-mobile-nav[name="close"] {
  display: none; }

@media (max-width: 59em) {
  .btn-mobile-nav {
    z-index: 1000;
    display: block; }
  .main-nav {
    background-color: rgba(255, 216, 155, 0.979);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    transform: translateX(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    opacity: 0;
    pointer-events: none;
    visibility: hidden; }
    .main-nav__list {
      flex-direction: column;
      gap: 4.8rem; }
    .main-nav__link:link, .main-nav__link:visited {
      font-size: 3rem;
      color: black; }
    .main-nav__link:hover, .main-nav__link:active {
      background-color: #19547b;
      color: #fff;
      border-radius: 5px;
      padding: 1rem; }
  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0%); }
  .nav-open .icon-mobile-nav[name="close"] {
    display: block; }
  .nav-open .icon-mobile-nav[name="menu"] {
    display: none; } }

.hero {
  height: 100vh;
  background-color: #19547b; }
  .hero__container {
    width: 100%;
    height: 100%;
    position: relative; }
  .hero .container-1 {
    position: absolute;
    width: 20%;
    height: 20%;
    top: 10%;
    background-color: #f59f00;
    transform: translateX(-60%) rotate(45deg);
    z-index: 5;
    animation: slide-in 2s ease 1s; }
  .hero .container-2 {
    position: absolute;
    width: 25%;
    height: 25%;
    top: 7%;
    background-color: #fcc419;
    transform: translateX(-60%) rotate(45deg);
    animation: slide-in 2s ease 2s;
    z-index: 4; }
  .hero .container-3 {
    position: absolute;
    width: 30%;
    height: 30%;
    top: 4%;
    background-color: #ffe066;
    animation: slide-in 2s ease 3s;
    transform: translateX(-60%) rotate(45deg);
    z-index: 3; }

@keyframes slide-in {
  0% {
    width: 100%; } }

.about-me {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 0;
  background-color: #ffdfaf; }
  .about-me__title {
    font-family: "Merienda", cursive;
    color: #000;
    padding-top: 2rem;
    padding: 3rem 0;
    text-align: center;
    font-size: 2.8rem;
    letter-spacing: 3px;
    z-index: 5; }
  .about-me__text {
    font-size: 1.8rem;
    padding: 0 2.5rem;
    text-align: center;
    padding-bottom: 2rem;
    z-index: -1; }
    @media only screen and (min-width: 500px) and (max-width: 3000px) {
      .about-me__text {
        width: 80%;
        margin: 0 auto; } }
    @media only screen and (min-width: 780px) and (max-width: 3000px) {
      .about-me__text {
        width: 50%;
        margin: 0 auto; } }
  .about-me__skill {
    margin: 0 auto;
    list-style: none;
    padding: 0 2.5rem;
    padding-bottom: 4rem;
    color: #000; }
    @media only screen and (min-width: 500px) and (max-width: 780px) {
      .about-me__skill {
        width: 80%;
        margin: 0 auto; } }
    @media only screen and (min-width: 780px) and (max-width: 3000px) {
      .about-me__skill {
        width: 50%;
        margin: 0 auto; } }
    .about-me__skill__skill li {
      margin: 20px 0;
      padding: 10px; }
    .about-me__skill-bar {
      background: #353b48;
      display: block;
      height: 10px;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 0.1); }
    .about-me__skill-bar span {
      height: 20px;
      float: left;
      background: linear-gradient(135deg, #19547b 0%, #ffd89b 100%); }
    .about-me__skill h1 {
      font-family: "Merienda", cursive;
      text-align: center;
      font-weight: 500; }
    .about-me__skill h3 {
      display: inline-block;
      font-weight: 500;
      margin-top: 1rem;
      margin-bottom: 0.5rem; }

.project {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #19547b;
  color: #fff;
  position: relative;
  padding: 13.5rem 0;
  overflow: hidden; }
  .project h1 {
    font-family: "Merienda", cursive;
    letter-spacing: 2px;
    padding: 2.5rem 0;
    font-size: 3rem;
    text-align: center; }
  .project__text {
    font-size: 1.8rem;
    width: 80%;
    padding: 1rem 0;
    text-align: center;
    margin: 0 auto; }
    @media only screen and (min-width: 500px) and (max-width: 780px) {
      .project__text {
        width: 80%;
        margin: 0 auto; } }
    @media only screen and (min-width: 780px) and (max-width: 3000px) {
      .project__text {
        width: 50%;
        margin: 0 auto; } }
  .project__btn-container {
    width: 100%;
    padding: 2rem 0; }
  .project__btn {
    font-size: 2rem;
    border-radius: 5px;
    border: none;
    margin: 0 auto;
    width: 150px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 1.2rem 1rem;
    background-color: #ffd89b;
    color: #000; }
    .project__btn:hover {
      transform: translateY(-2px); }
  .project .rectangle {
    position: absolute;
    top: 2%;
    left: -60%;
    width: 200px;
    height: 200px;
    box-shadow: 0 0 0 20px #fcc419, 0 0 0 40px #ffe066;
    background-color: #f59f00;
    transform: rotate(45deg);
    animation: animate 2s linear infinite; }
    @media only screen and (min-width: 350px) and (max-width: 500px) {
      .project .rectangle {
        top: 5%;
        left: -200px; } }
    @media only screen and (min-width: 500px) and (max-width: 2000px) {
      .project .rectangle {
        top: 10%;
        left: -160px; } }

.contact {
  margin: 0 auto;
  max-width: 1200px;
  background-color: #ffd89b;
  padding: 6rem 0; }
  .contact__bottom-container {
    color: #000;
    padding: 2rem;
    text-align: center; }
    .contact__bottom-container p {
      font-family: "Merienda", cursive;
      padding: 2rem 0;
      font-size: 2.5rem; }
    .contact__bottom-container a {
      padding: 0 2rem;
      text-decoration: none; }
      .contact__bottom-container a:hover {
        padding-bottom: 1rem;
        border-bottom: 2px solid #19547b; }
    .contact__bottom-container i {
      color: #19547b;
      font-size: 3.2rem; }
