@keyframes rotate-box-1 {
  0% {
    left: -70%; }
  100% {
    left: -70%;
    transform: translateX(35%) rotate(45deg); } }

@keyframes rotate-box-3 {
  0% {
    right: -70%; }
  100% {
    right: -70%;
    transform: translateX(-35%) rotate(45deg); } }

@keyframes rotate-box-2 {
  0% {
    left: -60%; }
  100% {
    left: -60%;
    transform: translateX(45%) rotate(-200deg); } }

@keyframes rotate-box-4 {
  0% {
    right: -60%; }
  100% {
    right: -60%;
    transform: translateX(-45%) rotate(-200deg); } }

@keyframes rotate-box-5 {
  0% {
    left: -60%; }
  100% {
    left: -60%;
    transform: translateX(45%) rotate(320deg); } }

@keyframes rotate-box-6 {
  0% {
    right: -60%; }
  100% {
    right: -60%;
    transform: translateX(-45%) rotate(320deg); } }

@keyframes text-animate {
  0% {
    left: 0%;
    opacity: 0; }
  50% {
    left: 55%; }
  100% {
    opacity: 1;
    left: 48%; } }

@keyframes sub-text {
  0% {
    right: 0%;
    opacity: 0; }
  50% {
    right: 5%; }
  100% {
    right: 0%;
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  line-height: 1;
  letter-spacing: 1px; }

body {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7; }

.hero__container {
  position: relative; }

.hero__text {
  font-family: "Beau Rivage", cursive;
  color: #19547b;
  display: inline-block;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.7rem;
  width: 100%;
  letter-spacing: 3px;
  z-index: 5;
  opacity: 0;
  animation: text-animate 3s ease 3s;
  animation-fill-mode: forwards; }
  @media only screen and (min-width: 750px) and (max-width: 4000px) {
    .hero__text {
      font-size: 4rem; } }

.hero__text-sub {
  font-family: "Beau Rivage", cursive;
  color: #19547b;
  display: inline-block;
  text-align: center;
  position: absolute;
  z-index: 5;
  opacity: 0;
  animation: sub-text 3s ease 3s;
  animation-fill-mode: forwards;
  letter-spacing: 2px;
  font-size: 1.6rem;
  width: 80%;
  top: 55%;
  right: 0%; }
  @media only screen and (min-width: 750px) and (max-width: 4000px) {
    .hero__text-sub {
      font-size: 2rem;
      top: 58%; } }

.header {
  background: #ffd89b;
  background: linear-gradient(to right, #19547b, #ffd89b);
  height: 8rem;
  padding: 0 4.8rem; }
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%; }
  .header__logo {
    font-size: 2.5rem;
    color: #ffd89b; }

.main-nav__list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem; }

.main-nav__link {
  padding: 1rem; }

.main-nav__link:link, .main-nav__link:visited {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s; }

.main-nav__link:hover, .main-nav__link:active {
  background-color: #19547b;
  border-radius: 5px;
  padding: 1rem;
  color: #fff; }

.main-nav__link.nav-cta:link, .main-nav__link.nav-cta:visited {
  background-color: #7598af;
  padding: 1.2rem 2.4rem;
  border-radius: 5px;
  color: #fff; }

.main-nav__link.nav-cta:hover, .main-nav__link.nav-cta:active {
  background-color: #19547b; }

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none; }

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #19547b; }

.icon-mobile-nav[name="close"] {
  display: none; }

@media only screen and (min-width: 120px) and (max-width: 950px) {
  .header {
    height: 6rem; }
  .btn-mobile-nav {
    z-index: 1000;
    display: block; }
  .main-nav {
    background-color: rgba(255, 216, 155, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    transform: translateX(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    padding: 7rem 0;
    display: none; }
    .main-nav__list {
      flex-direction: column;
      gap: 3rem; }
    .main-nav__link:link, .main-nav__link:visited {
      font-size: 3rem;
      color: black; }
    .main-nav__link:hover, .main-nav__link:active {
      background-color: #19547b;
      color: #fff;
      border-radius: 5px;
      padding: 1rem; }
  .nav-open .main-nav {
    display: block;
    transform: translateX(0%); }
  .nav-open .icon-mobile-nav[name="close"] {
    display: block; }
  .nav-open .icon-mobile-nav[name="menu"] {
    display: none; } }

.hero {
  height: 100vh;
  width: 100vw; }
  .hero__container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden; }
  .hero__box-1, .hero__box-3 {
    width: 90%;
    height: 70%;
    top: 15%;
    background-color: #19547b;
    position: absolute;
    animation: rotate-box-1 5s ease;
    animation-fill-mode: forwards;
    z-index: 1; }
  .hero__box-3 {
    animation: rotate-box-3 5s ease;
    animation-fill-mode: forwards; }
  .hero__box-2, .hero__box-4 {
    width: 80%;
    height: 60%;
    top: 20%;
    background-color: #ffd89b;
    position: absolute;
    animation: rotate-box-2 5s ease;
    animation-fill-mode: forwards;
    z-index: 2; }
  .hero__box-4 {
    animation: rotate-box-4 5s ease;
    animation-fill-mode: forwards; }
  .hero__box-5, .hero__box-6 {
    width: 72%;
    height: 40%;
    background-color: #ffce82;
    position: absolute;
    top: 30%;
    animation: rotate-box-5 5s ease;
    animation-fill-mode: forwards;
    z-index: 2; }
  .hero__box-6 {
    animation: rotate-box-6 5s ease;
    animation-fill-mode: forwards; }

.about-me {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 0;
  background-color: #ffdfaf; }
  .about-me__title {
    font-family: "Merienda", cursive;
    color: #000;
    padding-top: 2rem;
    padding: 3rem 0;
    text-align: center;
    font-size: 2.8rem;
    letter-spacing: 3px;
    z-index: 5; }
  .about-me__text {
    font-size: 1.8rem;
    padding: 0 2.5rem;
    text-align: center;
    padding-bottom: 2rem;
    z-index: -1; }
    @media only screen and (min-width: 500px) and (max-width: 780px) {
      .about-me__text {
        width: 80%;
        margin: 0 auto; } }
    @media only screen and (min-width: 780px) and (max-width: 3000px) {
      .about-me__text {
        width: 50%;
        margin: 0 auto; } }
  .about-me__skill {
    margin: 0 auto;
    list-style: none;
    padding: 0 2.5rem;
    padding-bottom: 4rem;
    color: #000; }
    @media only screen and (min-width: 500px) and (max-width: 780px) {
      .about-me__skill {
        width: 80%;
        margin: 0 auto; } }
    @media only screen and (min-width: 780px) and (max-width: 3000px) {
      .about-me__skill {
        width: 50%;
        margin: 0 auto; } }
    .about-me__skill__skill li {
      margin: 20px 0;
      padding: 10px; }
    .about-me__skill-bar {
      background: #353b48;
      display: block;
      height: 10px;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 0.1); }
    .about-me__skill-bar span {
      height: 20px;
      float: left;
      background: linear-gradient(135deg, #19547b 0%, #ffd89b 100%); }
    .about-me__skill h1 {
      font-family: "Merienda", cursive;
      text-align: center;
      font-weight: 500; }
    .about-me__skill h3 {
      display: inline-block;
      font-weight: 500;
      margin-top: 1rem;
      margin-bottom: 0.5rem; }

.project {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #19547b;
  color: #fff;
  position: relative;
  padding: 13.5rem 0;
  overflow: hidden; }
  .project h1 {
    font-family: "Merienda", cursive;
    letter-spacing: 2px;
    padding: 2.5rem 0;
    font-size: 3rem;
    text-align: center; }
  .project__text {
    font-size: 1.8rem;
    width: 80%;
    padding: 1rem 0;
    text-align: center;
    margin: 0 auto; }
    @media only screen and (min-width: 500px) and (max-width: 780px) {
      .project__text {
        width: 80%;
        margin: 0 auto; } }
    @media only screen and (min-width: 780px) and (max-width: 3000px) {
      .project__text {
        width: 50%;
        margin: 0 auto; } }
  .project__btn-container {
    width: 100%;
    padding: 2rem 0; }
  .project__btn {
    font-size: 2rem;
    border-radius: 5px;
    border: none;
    margin: 0 auto;
    width: 150px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 1.2rem 1rem;
    background-color: #ffd89b;
    color: #000; }
    .project__btn:hover {
      transform: translateY(-2px); }

.rectangle {
  position: absolute;
  top: 2%;
  left: -60%;
  width: 200px;
  height: 200px;
  box-shadow: 0 0 0 20px #fcc419, 0 0 0 40px #ffe066;
  background-color: #f59f00;
  transform: rotate(45deg);
  animation: animate 2s linear infinite; }
  @media only screen and (min-width: 350px) and (max-width: 500px) {
    .rectangle {
      top: 5%;
      left: -200px; } }
  @media only screen and (min-width: 500px) and (max-width: 2000px) {
    .rectangle {
      top: 10%;
      left: -160px; } }

.contact {
  margin: 0 auto;
  max-width: 1200px;
  background-color: #ffd89b;
  padding: 2rem 0; }
  .contact__bottom-container {
    color: #000;
    padding: 2rem;
    text-align: center; }
    .contact__bottom-container p {
      font-family: "Merienda", cursive;
      padding: 2rem 0;
      font-size: 2.5rem; }
    .contact__bottom-container a {
      padding: 0 2rem;
      text-decoration: none; }
      .contact__bottom-container a:hover {
        padding-bottom: 1rem;
        border-bottom: 2px solid #19547b; }
      @media only screen and (min-width: 320px) and (max-width: 500px) {
        .contact__bottom-container a {
          padding: 0 1rem; } }
    .contact__bottom-container i {
      color: #19547b;
      font-size: 3.2rem; }

.project-page__container {
  width: 100%;
  height: 100%;
  padding: 4rem 0;
  max-width: 1200px;
  margin: 0 auto; }
  @media only screen and (min-width: 500px) and (max-width: 3000px) {
    .project-page__container {
      display: flex;
      flex-wrap: wrap; } }

.project-page__text {
  font-family: "Merienda", cursive;
  color: #19547b;
  font-size: 2.7rem;
  letter-spacing: 3px;
  text-align: center;
  padding: 0 1.5rem;
  margin-top: 3rem; }
  @media only screen and (min-width: 500px) and (max-width: 3000px) {
    .project-page__text {
      font-size: 3.5rem; } }

.project-page .card {
  width: 90%;
  margin: 0 auto;
  padding: 5rem 1.5rem;
  text-align: center;
  margin-bottom: 5rem;
  transition: all 0.5s;
  background-color: #ffd89b; }
  @media only screen and (min-width: 500px) and (max-width: 750px) {
    .project-page .card {
      flex: 40%;
      margin: 0 1.5rem 5rem 1.5rem; } }
  @media only screen and (min-width: 750px) and (max-width: 1200px) {
    .project-page .card {
      flex: 25%;
      margin: 0 1.5rem 5rem 1.5rem; } }
  @media only screen and (min-width: 1200px) {
    .project-page .card {
      flex: 20%;
      margin: 0 1.5rem 5rem 1.5rem; } }
  .project-page .card:hover {
    background-color: #fff;
    transform: translateY(-5px);
    transition: transform 0.5s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
  .project-page .card h3 {
    font-family: "Merienda", cursive;
    padding: 2rem 0; }
  .project-page .card__img {
    width: 100%; }
  .project-page .card__link:link, .project-page .card__link:visited {
    text-decoration: none;
    color: white;
    background-color: #19547b;
    padding: 1rem;
    margin: 0 0.5rem;
    border-radius: 10px;
    transition: all 0.5s; }
    @media only screen and (min-width: 500px) and (max-width: 650px) {
      .project-page .card__link:link, .project-page .card__link:visited {
        font-size: 1.1rem;
        margin: 0; } }
    @media only screen and (min-width: 750px) and (max-width: 955px) {
      .project-page .card__link:link, .project-page .card__link:visited {
        font-size: 1.1rem;
        padding: 0.8rem; } }
    @media only screen and (min-width: 1200px) {
      .project-page .card__link:link, .project-page .card__link:visited {
        font-size: 1.3rem;
        padding: 0.8rem; } }
  .project-page .card__link:hover, .project-page .card__link:active {
    text-decoration: none;
    color: black;
    background-color: #ffd89b;
    padding: 1rem;
    margin: 0 0.5rem;
    border-radius: 10px;
    transition: all 0.5s; }

.certificates__text {
  font-family: "Merienda", cursive;
  color: #19547b;
  font-size: 5rem;
  margin-top: 2rem;
  text-align: center; }

.certificates__container {
  width: 100%;
  height: 100%;
  padding: 2rem 0; }
  @media only screen and (min-width: 500px) {
    .certificates__container {
      display: flex;
      justify-content: center; } }

.certificates__card {
  width: 90%;
  text-align: center;
  margin: 0 auto;
  padding: 5rem;
  margin-bottom: 2rem;
  background-color: #ffd89b;
  border-radius: 10px; }
  @media only screen and (min-width: 500px) {
    .certificates__card {
      max-width: 200px;
      padding: 2rem;
      margin: 0 0.5rem; } }
  .certificates__card:hover {
    background-color: #19547b; }
  .certificates__card a {
    color: #000;
    text-decoration: none; }
    .certificates__card a:hover {
      color: #fff; }

@keyframes rotate-box-1 {
  0% {
    left: -70%; }
  100% {
    left: -70%;
    transform: translateX(35%) rotate(45deg); } }

@keyframes rotate-box-3 {
  0% {
    right: -70%; }
  100% {
    right: -70%;
    transform: translateX(-35%) rotate(45deg); } }

@keyframes rotate-box-2 {
  0% {
    left: -60%; }
  100% {
    left: -60%;
    transform: translateX(45%) rotate(-200deg); } }

@keyframes rotate-box-4 {
  0% {
    right: -60%; }
  100% {
    right: -60%;
    transform: translateX(-45%) rotate(-200deg); } }

@keyframes rotate-box-5 {
  0% {
    left: -60%; }
  100% {
    left: -60%;
    transform: translateX(45%) rotate(320deg); } }

@keyframes rotate-box-6 {
  0% {
    right: -60%; }
  100% {
    right: -60%;
    transform: translateX(-45%) rotate(320deg); } }

@keyframes text-animate {
  0% {
    left: 0%;
    opacity: 0; }
  50% {
    left: 55%; }
  100% {
    opacity: 1;
    left: 48%; } }

@keyframes sub-text {
  0% {
    right: 0%;
    opacity: 0; }
  50% {
    right: 5%; }
  100% {
    right: 0%;
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  line-height: 1;
  letter-spacing: 1px; }

body {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7; }

.hero__container {
  position: relative; }

.hero__text {
  font-family: "Beau Rivage", cursive;
  color: #19547b;
  display: inline-block;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.7rem;
  width: 100%;
  letter-spacing: 3px;
  z-index: 5;
  opacity: 0;
  animation: text-animate 3s ease 3s;
  animation-fill-mode: forwards; }
  @media only screen and (min-width: 750px) and (max-width: 4000px) {
    .hero__text {
      font-size: 4rem; } }

.hero__text-sub {
  font-family: "Beau Rivage", cursive;
  color: #19547b;
  display: inline-block;
  text-align: center;
  position: absolute;
  z-index: 5;
  opacity: 0;
  animation: sub-text 3s ease 3s;
  animation-fill-mode: forwards;
  letter-spacing: 2px;
  font-size: 1.6rem;
  width: 80%;
  top: 55%;
  right: 0%; }
  @media only screen and (min-width: 750px) and (max-width: 4000px) {
    .hero__text-sub {
      font-size: 2rem;
      top: 58%; } }

.header {
  background: #ffd89b;
  background: linear-gradient(to right, #19547b, #ffd89b);
  height: 8rem;
  padding: 0 4.8rem; }
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%; }
  .header__logo {
    font-size: 2.5rem;
    color: #ffd89b; }

.main-nav__list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem; }

.main-nav__link {
  padding: 1rem; }

.main-nav__link:link, .main-nav__link:visited {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s; }

.main-nav__link:hover, .main-nav__link:active {
  background-color: #19547b;
  border-radius: 5px;
  padding: 1rem;
  color: #fff; }

.main-nav__link.nav-cta:link, .main-nav__link.nav-cta:visited {
  background-color: #7598af;
  padding: 1.2rem 2.4rem;
  border-radius: 5px;
  color: #fff; }

.main-nav__link.nav-cta:hover, .main-nav__link.nav-cta:active {
  background-color: #19547b; }

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none; }

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #19547b; }

.icon-mobile-nav[name="close"] {
  display: none; }

@media only screen and (min-width: 120px) and (max-width: 950px) {
  .header {
    height: 6rem; }
  .btn-mobile-nav {
    z-index: 1000;
    display: block; }
  .main-nav {
    background-color: rgba(255, 216, 155, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    transform: translateX(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    padding: 7rem 0;
    display: none; }
    .main-nav__list {
      flex-direction: column;
      gap: 3rem; }
    .main-nav__link:link, .main-nav__link:visited {
      font-size: 3rem;
      color: black; }
    .main-nav__link:hover, .main-nav__link:active {
      background-color: #19547b;
      color: #fff;
      border-radius: 5px;
      padding: 1rem; }
  .nav-open .main-nav {
    display: block;
    transform: translateX(0%); }
  .nav-open .icon-mobile-nav[name="close"] {
    display: block; }
  .nav-open .icon-mobile-nav[name="menu"] {
    display: none; } }

.hero {
  height: 100vh;
  width: 100vw; }
  .hero__container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden; }
  .hero__box-1, .hero__box-3 {
    width: 90%;
    height: 70%;
    top: 15%;
    background-color: #19547b;
    position: absolute;
    animation: rotate-box-1 5s ease;
    animation-fill-mode: forwards;
    z-index: 1; }
  .hero__box-3 {
    animation: rotate-box-3 5s ease;
    animation-fill-mode: forwards; }
  .hero__box-2, .hero__box-4 {
    width: 80%;
    height: 60%;
    top: 20%;
    background-color: #ffd89b;
    position: absolute;
    animation: rotate-box-2 5s ease;
    animation-fill-mode: forwards;
    z-index: 2; }
  .hero__box-4 {
    animation: rotate-box-4 5s ease;
    animation-fill-mode: forwards; }
  .hero__box-5, .hero__box-6 {
    width: 72%;
    height: 40%;
    background-color: #ffce82;
    position: absolute;
    top: 30%;
    animation: rotate-box-5 5s ease;
    animation-fill-mode: forwards;
    z-index: 2; }
  .hero__box-6 {
    animation: rotate-box-6 5s ease;
    animation-fill-mode: forwards; }

.about-me {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 0;
  background-color: #ffdfaf;
  text-align: center; }
  .about-me__title {
    font-family: "Merienda", cursive;
    color: #000;
    padding-top: 2rem;
    padding: 3rem 0;
    font-size: 2.8rem;
    letter-spacing: 3px;
    z-index: 5; }
  .about-me__text {
    font-size: 1.8rem;
    padding: 0 2.5rem;
    padding-bottom: 2rem;
    z-index: -1; }
    @media only screen and (min-width: 500px) and (max-width: 780px) {
      .about-me__text {
        width: 80%;
        margin: 0 auto; } }
    @media only screen and (min-width: 780px) {
      .about-me__text {
        width: 50%;
        margin: 0 auto; } }
  .about-me__skill {
    margin: 0 auto;
    list-style: none;
    padding: 0 2.5rem;
    padding-bottom: 4rem;
    color: #000; }
    @media only screen and (min-width: 500px) and (max-width: 780px) {
      .about-me__skill {
        width: 80%;
        margin: 0 auto; } }
    @media only screen and (min-width: 780px) {
      .about-me__skill {
        width: 50%;
        margin: 0 auto; } }
    .about-me__skill__skill li {
      margin: 20px 0;
      padding: 10px; }
    .about-me__skill-bar {
      display: block;
      height: 10px;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 0.1); }
    .about-me__skill-bar span {
      height: 20px;
      float: left;
      background: linear-gradient(135deg, #19547b 0%, #ffd89b 100%); }
    .about-me__skill h1 {
      font-family: "Merienda", cursive;
      text-align: center;
      font-weight: 500; }
    .about-me__skill h3 {
      display: inline-block;
      font-weight: 500;
      margin-top: 1rem;
      margin-bottom: 0.5rem; }

.project {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #19547b;
  color: #fff;
  position: relative;
  padding: 13.5rem 0;
  overflow: hidden; }
  .project h1 {
    font-family: "Merienda", cursive;
    letter-spacing: 2px;
    padding: 2.5rem 0;
    font-size: 3rem;
    text-align: center; }
  .project__text {
    font-size: 1.8rem;
    width: 80%;
    padding: 1rem 0;
    text-align: center;
    margin: 0 auto; }
    @media only screen and (min-width: 500px) and (max-width: 780px) {
      .project__text {
        width: 80%;
        margin: 0 auto; } }
    @media only screen and (min-width: 780px) {
      .project__text {
        width: 50%;
        margin: 0 auto; } }
  .project__btn-container {
    width: 100%;
    padding: 2rem 0; }
  .project__btn {
    font-size: 2rem;
    border-radius: 5px;
    border: none;
    margin: 0 auto;
    width: 150px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 1.2rem 1rem;
    background-color: #ffd89b;
    color: #000; }
    .project__btn:hover {
      transform: translateY(-2px); }

.rectangle {
  position: absolute;
  top: 2%;
  left: -60%;
  width: 200px;
  height: 200px;
  box-shadow: 0 0 0 20px #fcc419, 0 0 0 40px #ffe066;
  background-color: #f59f00;
  transform: rotate(45deg);
  animation: animate 2s linear infinite; }
  @media only screen and (min-width: 350px) and (max-width: 500px) {
    .rectangle {
      top: 5%;
      left: -200px; } }
  @media only screen and (min-width: 500px) {
    .rectangle {
      top: 10%;
      left: -160px; } }

.contact {
  margin: 0 auto;
  max-width: 1200px;
  background-color: #ffd89b;
  padding: 2rem 0; }
  .contact__bottom-container {
    color: #000;
    padding: 2rem;
    text-align: center; }
    .contact__bottom-container p {
      font-family: "Merienda", cursive;
      padding: 2rem 0;
      font-size: 2.5rem; }
    .contact__bottom-container a {
      padding: 0 2rem;
      text-decoration: none; }
      .contact__bottom-container a:hover {
        padding-bottom: 1rem;
        border-bottom: 2px solid #19547b; }
      @media only screen and (min-width: 320px) and (max-width: 500px) {
        .contact__bottom-container a {
          padding: 0 1rem; } }
    .contact__bottom-container i {
      color: #19547b;
      font-size: 3.2rem; }

.project-page__container {
  width: 100%;
  height: 100%;
  padding: 4rem 0;
  max-width: 1200px;
  margin: 0 auto; }
  @media only screen and (min-width: 500px) {
    .project-page__container {
      display: flex;
      flex-wrap: wrap; } }

.project-page__text {
  font-family: "Merienda", cursive;
  color: #19547b;
  font-size: 2.7rem;
  letter-spacing: 3px;
  text-align: center;
  padding: 0 1.5rem;
  margin-top: 3rem; }
  @media only screen and (min-width: 500px) {
    .project-page__text {
      font-size: 3.5rem; } }

.project-page .card {
  width: 90%;
  margin: 0 auto;
  padding: 5rem 1.5rem;
  text-align: center;
  margin-bottom: 5rem;
  transition: all 0.5s;
  background-color: #ffd89b; }
  @media only screen and (min-width: 500px) and (max-width: 780px) {
    .project-page .card {
      flex: 40%;
      margin: 0 1.5rem 5rem 1.5rem; } }
  @media only screen and (min-width: 750px) and (max-width: 1200px) {
    .project-page .card {
      flex: 25%;
      margin: 0 1.5rem 5rem 1.5rem; } }
  @media only screen and (min-width: 1200px) {
    .project-page .card {
      flex: 20%;
      margin: 0 1.5rem 5rem 1.5rem; } }
  .project-page .card:hover {
    background-color: #fff;
    transform: translateY(-5px);
    transition: transform 0.5s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
  .project-page .card h3 {
    font-family: "Merienda", cursive;
    padding: 2rem 0; }
  .project-page .card__img {
    width: 100%; }
  .project-page .card__link:link, .project-page .card__link:visited {
    text-decoration: none;
    color: white;
    background-color: #19547b;
    padding: 1rem;
    margin: 0 0.5rem;
    border-radius: 10px;
    transition: all 0.5s; }
    @media only screen and (min-width: 500px) and (max-width: 650px) {
      .project-page .card__link:link, .project-page .card__link:visited {
        font-size: 1.1rem;
        margin: 0; } }
    @media only screen and (min-width: 750px) and (max-width: 955px) {
      .project-page .card__link:link, .project-page .card__link:visited {
        font-size: 1.1rem;
        padding: 0.8rem; } }
    @media only screen and (min-width: 1200px) {
      .project-page .card__link:link, .project-page .card__link:visited {
        font-size: 1.3rem;
        padding: 0.8rem; } }
  .project-page .card__link:hover, .project-page .card__link:active {
    text-decoration: none;
    color: black;
    background-color: #ffd89b;
    padding: 1rem;
    margin: 0 0.5rem;
    border-radius: 10px;
    transition: all 0.5s; }

.certificates__text {
  font-family: "Merienda", cursive;
  color: #19547b;
  font-size: 5rem;
  margin-top: 2rem;
  text-align: center; }

.certificates__container {
  width: 100%;
  height: 100%;
  padding: 2rem 0; }
  @media only screen and (min-width: 500px) {
    .certificates__container {
      display: flex;
      justify-content: center; } }

.certificates__card {
  width: 90%;
  text-align: center;
  margin: 0 auto;
  padding: 5rem;
  margin-bottom: 2rem;
  background-color: #ffd89b;
  border-radius: 10px; }
  @media only screen and (min-width: 500px) {
    .certificates__card {
      max-width: 200px;
      padding: 2rem;
      margin: 0 0.5rem; } }
  .certificates__card:hover {
    background-color: #19547b; }
  .certificates__card a {
    color: #000;
    text-decoration: none; }
    .certificates__card a:hover {
      color: #fff; }
