// #ffce82
// #ffd89b
// #FFDBA5
// #FFDFAF
// #FFE3B9
// #FFE7C3
// #FFEBCD
// #19547b
// white
// black
// #7598af
// #A3BACA

$color-primary: #ffd89b;
$color-primary-light: #ffdfaf;
$color-secondary: #19547b;
$color-secondary-light: #7598af;
$color-white: #fff;
$color-black: #000;
