@keyframes text-animate {
  0% {
    left: 0%;
    opacity: 0;
  }

  50% {
    left: 55%;
  }

  100% {
    opacity: 1;
    left: 48%;
  }
}

@keyframes sub-text {
  0% {
    right: 0%;
    opacity: 0;
  }

  50% {
    right: 5%;
  }

  100% {
    right: 0%;
    opacity: 1;
  }
}
