.nav {
  display: flex;
  align-items: center;
  height: 9rem;
  width: 100%;
  font-size: 2rem;
  padding: 0 1.5rem;
  // background-image: linear-gradient(to right, rgba(#000, 0.5), rgba(gold, 0.3));
  // background-color: rgba(#000, 0.5);
  background-image: linear-gradient(
    to right,
    rgba(black, 0.8),
    rgba(grey, 0.6)
  );
  // background-color: rgba(black, 0.8);

  @media only screen and (min-width: 320px) and (max-width: 380px) {
  }

  &__container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media only screen and (min-width: 425px) and (max-width: 1000px) {
      width: 90%;
    }
  }

  &__logo {
    font-family: "Beau Rivage", cursive, sans-serif;
    letter-spacing: 4px;
    font-size: 2.5rem;
    font-weight: 1000;
    background-image: linear-gradient(to left, gold, white);
    -webkit-background-clip: text;
    color: transparent;

    @media only screen and (min-width: 700px) and (max-width: 1000px) {
      font-size: 3rem;
    }
  }

  ul {
    list-style: none;
    display: flex;
    column-gap: 2rem;
  }

  a {
    font-family: "Merienda", cursive;
    padding: 0 1rem;
    font-size: 2.5rem;
    color: #000;
    text-decoration: none;
  }

  &__btn {
    border: none;
    background: none;
  }

  .fa {
    background-image: linear-gradient(to left, gold, white);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 3rem;

    @media only screen and (min-width: 700px) and (max-width: 1000px) {
      font-size: 3.5rem;
    }
  }
}

// .side-bar {
//   width: 80%;
//   height: 100vh;
//   background-color: red;
//   position: absolute;
//   right: 0;
//   transform: translateX(100%);
//   transition: all 0.5s ease;
// }
