.project-page {
  &__container {
    width: 100%;
    height: 100%;
    padding: 4rem 0;
    max-width: 1200px;
    margin: 0 auto;

    @include big-screen {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__text {
    font-family: "Merienda", cursive;
    color: $color-secondary;
    font-size: 2.7rem;
    letter-spacing: 3px;
    text-align: center;
    padding: 0 1.5rem;
    margin-top: 3rem;

    @include big-screen {
      font-size: 3.5rem;
    }
  }

  .card {
    width: 90%;
    margin: 0 auto;
    padding: 5rem 1.5rem;
    text-align: center;
    margin-bottom: 5rem;
    transition: all 0.5s;
    background-color: $color-primary;

    @include tab {
      flex: 40%;
      margin: 0 1.5rem 5rem 1.5rem;
    }

    @include medium-screen {
      flex: 25%;
      margin: 0 1.5rem 5rem 1.5rem;
    }

    @include big-large-screen {
      flex: 20%;
      margin: 0 1.5rem 5rem 1.5rem;
    }

    &:hover {
      background-color: $color-white;
      transform: translateY(-5px);
      transition: transform 0.5s;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    h3 {
      font-family: "Merienda", cursive;
      padding: 2rem 0;
    }

    &__img {
      width: 100%;
    }

    &__link:link,
    &__link:visited {
      text-decoration: none;
      color: white;
      background-color: $color-secondary;
      padding: 1rem;
      margin: 0 0.5rem;
      border-radius: 10px;
      transition: all 0.5s;

      @include tab-medium {
        font-size: 1.1rem;
        margin: 0;
      }

      @include tab-large {
        font-size: 1.1rem;
        padding: 0.8rem;
      }

      @include big-large-screen {
        font-size: 1.3rem;
        padding: 0.8rem;
      }
    }

    &__link:hover,
    &__link:active {
      text-decoration: none;
      color: black;
      background-color: $color-primary;
      padding: 1rem;
      margin: 0 0.5rem;
      border-radius: 10px;
      transition: all 0.5s;
    }
  }
}
